*.o
*.out
.git1
*.log
containers
.vscode
.DS_Store
tester/ft_containers_tests
.gitignore
tester/out.txt
tester/*_output
tester/tester/*_output
tester/set_test
tester/set_test_string
tester/tester/
containers-unit-tester/deepthought/
containers-unit-tester/logs/
containers-unit-tester/*dSYM/
containers-unit-tester/out1.txt
containers-unit-tester/out2.txt
tester1/*_output/
containers_stl
timed_stl
timed_ft
t1
t2
tester1/ft_containers_tests
tester2/*dSYM/
